<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CBSE- Job Offers</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
     integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" 
     crossorigin="anonymous" referrerpolicy="no-referrer" />
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" 
     integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw==" 
     crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link
      href="https://fonts.googleapis.com/css2?family=Bitter:100,200,300,400,500,600,700,800,900"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:100,200,300,400,500,600,700,800,900"
      rel="stylesheet"
    />
    <link 
        rel="stylesheet" 
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    >
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link rel="stylesheet" href="/css/all.css" />
    <link rel="stylesheet" href="/css/ebooks.css" />
</head>
<body>
    <nav>
      <div class="left">
        <img class="logo" src="/assets/logo.svg" alt="" />
      </div>
      <div class="right">
        <a href="/" class="link">Home</a>
        <a href="/job" class="link">Job Offers</a>
        <a href="/ebooks" class="link">E-Books</a>
        <a href="/student/meets" class="link">Classes</a>
      </div>
    </nav>

    <section class="hero-container">
        <div class="hero-text">
            <h2>"The whole world opened up to me when I learned to read"</h2>
            <div class="option-wrap">
                <div class="option class">
                    <label for="search">Class</label><br>
                    <input id="searchBar" type="text" placeholder="10" />
                </div>
                <div class="option">
                    <label for="search">Book Title</label><br>
                    <input id="searchBar" type="text" placeholder="SST-History" />
                </div>
                <!-- <div class="option"> -->
                    <!-- <p class="hehe">hehe</p> -->
                    <button>Search</button>
                <!-- </div> -->
            </div>
        </div>
            <img src="assets/2.png" class="hero-img">
    </section>

    <section class="books">
        <h2>Curriculum Books</h2>    
        <div class="owl-carousel owl-theme books-wrap">
            <a href="#"><img src="assets/mafs.png"></a>
            <a href="#"><img src="assets/padhai.png"></a>
            <a href="#"><img src="assets/history.png"></a>
            <a href="#"><img src="assets/imglis.png"></a>
            <a href="#"><img src="assets/padhai.png"></a>
            <a href="#"><img src="assets/mafs.png"></a>
            <a href="#"><img src="assets/history.png"></a>
            <a href="#"><img src="assets/imglis.png"></a>
            <a href="#"><img src="assets/padhai.png"></a>
            <a href="#"><img src="assets/mafs.png"></a>
            <a href="#"><img src="assets/history.png"></a>
            <a href="#"><img src="assets/imglis.png"></a>
        </div>
    </section>

    <footer>
      <div class="left">
        <img src="/assets/foot-logo.svg" alt="" />
      </div>
      <div class="right">
        <div class="details">
          <p>
            Are you a teacher?
            <br />
            <a href="/teacher/auth">Sign Up here!</a>
          </p>
        </div>
        <div class="details">
          <p>+91 6942069420<br />mail@CBSE.com<br />+91 6942069420</p>
        </div>
        <div class="details">
          <p>Street - 10,<br />Sansad Marg,<br />New Delhi - 110021</p>
        </div>
      </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" 
    integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" 
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" 
    integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" 
    crossorigin="anonymous" referrerpolicy="no-referrer">
    </script>

    <script type="text/javascript">
        $('.owl-carousel').owlCarousel({
        loop:false,
        margin:10,
        nav:false,
        responsive:{
            0:{
                items:1
            },
            600:{
                items:3
            },
            1000:{
                items:5
            }
        }
        })
    </script>
</body>
</html>