<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CBSE- Job Offers</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
     integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" 
     crossorigin="anonymous" referrerpolicy="no-referrer" />
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" 
     integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw==" 
     crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link
      href="https://fonts.googleapis.com/css?family=Bitter:100,200,300,400,500,600,700,800,900"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:100,200,300,400,500,600,700,800,900"
      rel="stylesheet"
    />
    <link 
        rel="stylesheet" 
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    >
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link rel="stylesheet" href="/css/all.css" />
    <link rel="stylesheet" href="/css/job-offers.css" />
</head>
<body>
    <nav>
      <div class="left">
        <img class="logo" src="/assets/logo.svg" alt="" />
      </div>
      <div class="right">
        <a href="/" class="link">Home</a>
        <a href="/job" class="link">Job Offers</a>
        <a href="/ebooks" class="link">E-Books</a>
        <a href="/student/meets" class="link">Classes</a>
      </div>
    </nav>

    <section class="hero-container">
        <div class="hero-text">
            <h2>Your dream job is waiting for you</h2>
            <label for="search">Job Search</label><br>
            <div class="search-wrap">
                <input id="searchBar" type="text" placeholder="Search" />
                <button type="submit"><i class="fa fa-search"></i></button>
            </div>
        </div>
            <img src="assets/1.png" class="hero-img">
    </section>

    <!-- <section class="offers">
        <div class="card-wrap">
            <div class="card">
                <h1>UI/UX Designer</h1>
                <p class="posted">Posted 10 months ago</p>
                <h2 class="price">1000-1500 rs/month</h2>
                <i class="fa fa-lock"></i><span class="exp">1-2yrs</span>
                <h3>We are looking for a senior UI/UX designer</h3>
                <button class="apply"><a href="#">Apply Now</a></button>
            </div>
            <div class="card">
                <h1>UI/UX Designer</h1>
                <p class="posted">Posted 10 months ago</p>
                <h2 class="price">1000-1500 rs/month</h2>
                <i class="fa fa-lock"></i><span class="exp">1-2yrs</span>
                <h3>We are looking for a senior UI/UX designer</h3>
                <button class="apply"><a href="#">Apply Now</a></button>
            </div>
            <div class="card">
                <h1>UI/UX Designer</h1>
                <p class="posted">Posted 10 months ago</p>
                <h2 class="price">1000-1500 rs/month</h2>
                <i class="fa fa-lock"></i><span class="exp">1-2yrs</span>
                <h3>We are looking for a senior UI/UX designer</h3>
                <button class="apply"><a href="#">Apply Now</a></button>
            </div>
        </div>
    </section> -->

    <section class="offers">
        <div id="slider" class="card-wrap owl-carousel">
            <div class="card item">
                <h1>UI/UX Designer</h1>
                <p class="posted">Posted 10 months ago</p>
                <h2 class="price">1000-1500 rs/month</h2>
                <i class="fa fa-lock"></i><span class="exp">1-2yrs</span>
                <h3>We are looking for a senior UI/UX designer</h3>
                <button class="apply"><a href="#">Apply Now</a></button>
            </div>
            <div class="card item">
                <h1>UI/UX Designer</h1>
                <p class="posted">Posted 10 months ago</p>
                <h2 class="price">1000-1500 rs/month</h2>
                <i class="fa fa-lock"></i><span class="exp">1-2yrs</span>
                <h3>We are looking for a senior UI/UX designer</h3>
                <button class="apply"><a href="#">Apply Now</a></button>
            </div>
            <div class="card item">
                <h1>UI/UX Designer</h1>
                <p class="posted">Posted 10 months ago</p>
                <h2 class="price">1000-1500 rs/month</h2>
                <i class="fa fa-lock"></i><span class="exp">1-2yrs</span>
                <h3>We are looking for a senior UI/UX designer</h3>
                <button class="apply"><a href="#">Apply Now</a></button>
            </div>
        </div>
    </section>

    <section class="type">
        <div class="intern typeCard">
            <h1>Internship</h1>
            <p>Job from June- September</p>
            <h3>1000 rs/month</h3>
            <button class="apply"><a href="#">Apply</a></button>
        </div>
        <div class="full-time typeCard">
            <h1>Full-time</h1>
            <p>Job from June- September</p>
            <h3>1000 rs/month</h3>
            <button class="apply"><a href="#">Apply</a></button>
        </div>
    </section>

    <footer>
      <div class="left">
        <img src="/assets/foot-logo.svg" alt="" />
      </div>
      <div class="right">
        <div class="details">
          <p>
            Are you a teacher?
            <br />
            <a href="/teacher/auth">Sign Up here!</a>
          </p>
        </div>
        <div class="details">
          <p>+91 6942069420<br />mail@CBSE.com<br />+91 6942069420</p>
        </div>
        <div class="details">
          <p>Street - 10,<br />Sansad Marg,<br />New Delhi - 110021</p>
        </div>
      </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" 
    integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" 
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" 
    integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" 
    crossorigin="anonymous" referrerpolicy="no-referrer">
    </script>

    <script type="text/javascript">
        $('#slider').owlCarousel({
        loop:true,
        margin:20,
        nav:true,
        autoplay: true,
        responsive:{
            0:{
                items:1
            },
            600:{
                items:2
            },
            1000:{
                items:3
            }
        }
        })
    </script>
</body>
</html>