<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CBSE- Job Offers</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Bitter:100,200,300,400,500,600,700,800,900"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:100,200,300,400,500,600,700,800,900"
      rel="stylesheet"
    />
    <link 
        rel="stylesheet" 
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    >
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link rel="stylesheet" href="/css/all.css" />
    <link rel="stylesheet" href="/css/job-offers.css" />
</head>
<body>
    <nav>
        <img src="assets/logo.png" class="logo">
        <div class="nav-links">
            <li><a class="animate" href="/">Home</a></li>
            <li><a class="animate" href="/job">Job Offers</a></li>
            <li><a class="animate" href="/ebooks">E-books</a></li>
            <li><a class="animate" href="/eclasses">E-classes</a></li>
        </div>
        <img src="assets/pfp.png" class="pfp">
    </nav>

    <section class="hero-container">
        <div class="hero-text">
            <h2>Your dream job is waiting for you</h2>
            <label for="search">Job Search</label><br>
            <div class="search-wrap">
                <input id="searchBar" type="text" placeholder="Search" />
                <button type="submit"><i class="fa fa-search"></i></button>
            </div>
        </div>
            <img src="assets/1.png" class="hero-img">
    </section>
    
    <section class="offers">
        <div class="card-wrap">
            <div class="card">
                <h1>UI/UX Designer</h1>
                <p class="posted">Posted 10 months ago</p>
                <h2 class="price">1000-1500 rs/month</h2>
                <i class="fa fa-lock"></i><span class="exp">1-2yrs</span>
                <h3>We are looking for a senior UI/UX designer</h3>
                <button class="apply"><a href="#">Apply Now</a></button>
            </div>
            <div class="card">
                <h1>UI/UX Designer</h1>
                <p class="posted">Posted 10 months ago</p>
                <h2 class="price">1000-1500 rs/month</h2>
                <i class="fa fa-lock"></i><span class="exp">1-2yrs</span>
                <h3>We are looking for a senior UI/UX designer</h3>
                <button class="apply"><a href="#">Apply Now</a></button>
            </div>
            <div class="card">
                <h1>UI/UX Designer</h1>
                <p class="posted">Posted 10 months ago</p>
                <h2 class="price">1000-1500 rs/month</h2>
                <i class="fa fa-lock"></i><span class="exp">1-2yrs</span>
                <h3>We are looking for a senior UI/UX designer</h3>
                <button class="apply"><a href="#">Apply Now</a></button>
            </div>
        </div>
    </section>

    <section class="type">
        <div class="intern typeCard">
            <h1>Internship</h1>
            <p>Job from June- September</p>
            <h3>1000 rs/month</h3>
            <button class="apply"><a href="#">Apply</a></button>
        </div>
        <div class="full-time typeCard">
            <h1>Full-time</h1>
            <p>Job from June- September</p>
            <h3>1000 rs/month</h3>
            <button class="apply"><a href="#">Apply</a></button>
        </div>
    </section>

    <footer>
        <div class="socails">
            <i class="fa fa-lock" class="s"></i>
            <i class="fa fa-lock" class="s"></i>
            <i class="fa fa-lock" class="s"></i>
            <i class="fa fa-lock" class="s"></i>
        </div>
        <p>Boards Circular</p>
        <p>NCERT 2.0</p>
        <p>Goverment Initiatives</p>
        <div class="address">
            <p>
                Address: Shiksha Kendra-2<br>
                Community Centre, Preet Vihar<br>
                Delhi- 110070
            </p>

            <p>
                Tel: 011-22509256,<br>
                22509257, 22509258
            </p>            
        </div>
    </footer>
</body>
</html>