<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Video Chat</title>
    <link
      href="https://fonts.googleapis.com/css?family=Bitter:100,200,300,400,500,600,700,800,900"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:100,200,300,400,500,600,700,800,900"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link rel="stylesheet" href="/css/all.css" />
    <link rel="stylesheet" href="/css/room.css" />
    <script
      defer
      src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"
    ></script>
    <script>
      const roomID = "<%= roomID %>";
      const userIDf = "<%= userID %>";
      const teech = "<%= teech %>";
    </script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="/js/video-chat.js" defer></script>
  </head>
  <body>
    <div class="video-grid"></div>
    <div class="share">
      <video></video>
    </div>
    <div class="controls">
      <button class="share-btn but"><i class="fas fa-upload"></i></button>
      <button id="mic" class="active but">
        <i class="fas fa-microphone"></i>
      </button>
      <button id="vid" class="active but"><i class="fas fa-video"></i></button>
      <a href="/" class="but ex"><i class="fas fa-times"></i></a>
    </div>

    <% if (!teech) { %>
    <div class="btn mark">Mark your attendence here!</div>
    <% } %>

    <script>
      if (document.querySelector(".mark")) {
        document.querySelector(".mark").addEventListener("click", async () => {
          const a = await fetch(
            "http://cbse-20.herokuapp.com/student/mark/<%= roomID %>",
            {
              method: "GET",
              credentials: "include",
            }
          );

          if (a) document.querySelector(".mark").remove();
        });
      }
    </script>
  </body>
</html>
