.container {
  width: 90%;
  margin: 15vh auto;
}

.one {
  margin-top: 5vh
}

.hero {
  display: flex;
}
.hero .left,
.hero .right {
  width: 50%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero h1 {
  font-size: 3vw;
  margin-bottom: 2vh;
  font-weight: 800;
  padding-right: 6vw;
}

.hero p {
  padding-right: 7vw;
  font-size: 1.2vw;
}
.hero .btn {
  transform: translateY(100%);
  width: 20%;
  padding: 2vh 0;
  font-size: 1vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.right {
  align-items: center;
  justify-content: center;
}
.banner {
  width: 80%;
}

.link-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 3vh;
}
.bigLink {
  width: 20%;
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.096);
  height: 30vh;
  border-radius: 10px;
  margin: 4vh 2vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}
.bigLink img {
  width: 80%;
  height: 80%;
}
.bigLink h1 {
  color: #000;
  height: 20%;
}
.bigLink:hover {
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.18);
}

/* Announcements */

.announcements {
  width: 80%;
  margin: 8vh auto;
}

.announcements h2{
  font-size: 2.5vw;
  margin-bottom: 3vh;
  color: var(--blue)
}

.item {  
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  padding: 4vh;
}

.item h1{
  font-size: 1.8vw;
  margin-bottom: 3vh
}

.item p {
  font-size: 1.3vw;
  margin-bottom: 2.5vh;
}

.item button {  
  background-color: var(--blue);
  color: white;
  text-decoration: none;
  padding: 1.5vh 2.5vh;
  border-radius: 1vh;
  transition: transform 0.5s;
}

.item button a{
  color: white;
  text-decoration: none;
}

.item button:hover {
  transform: translate(0, -5px);
  cursor: pointer;
}
