<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CBSE - Login/Sign Up</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Bitter:100,200,300,400,500,600,700,800,900"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:100,200,300,400,500,600,700,800,900"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link rel="stylesheet" href="/css/all.css" />
    <link rel="stylesheet" href="/css/auth.css" />
  </head>
  <body>
    <h1 class="back">CBSE</h1>
    <div class="box">
      <form class="login-form" action="/student/auth/login" method="POST">
        <h1>Login</h1>
        <% if (message) { %>
        <h2 class="error erActive"><%= message %></h2>
        <% } else { %>
        <h2 class="error"></h2>
        <% } %>
        <h2>Please enter your details below</h2>
        <div class="input">
          <label for="email">Email Address</label>
          <input maxlength="50" type="email" name="email" required />
        </div>
        <div class="input" style="margin-bottom: 1vh">
          <label for="password">Password</label>
          <input maxlength="50" type="password" name="password" required />
        </div>
        <p class="forgot">Forgot Password?</p>
        <br />
        <button type="submit" class="btn">Login</button>
      </form>

      <div class="banner">
        <img src="/assets/auth-stud.svg" alt="" />
      </div>
    </div>
  </body>
</html>
