<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CBSE - Student - Meetings</title>
    <link
      href="https://fonts.googleapis.com/css?family=Bitter:100,200,300,400,500,600,700,800,900"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:100,200,300,400,500,600,700,800,900"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link rel="stylesheet" href="/css/all.css" />
    <link rel="stylesheet" href="/css/meets.css" />
  </head>
  <body>
    <nav>
      <div class="left">
        <img class="logo" src="/assets/logo.svg" alt="" />
      </div>
      <div class="right">
        <a href="/" class="link">Home</a>
        <a href="/e-books" class="link">E-Books</a>
        <a href="/student/meets" class="link">Classes</a>
      </div>
    </nav>

    <section class="meets-hold container">
      <h1 id="y">Your Meetings</h1>
      <div class="meets">
        <% for (let meet of meets) { %>
        <div class="meet">
          <h1><%= meet.name %></h1>
          <h2>Time: <%= meet.time %></h2>
          <h2>Subject: <%= meet.subject %></h2>
          <a href="/meet/<%= meet.id %>" class="btn">Join</a>
        </div>
        <% } %>
      </div>
    </section>
  </body>
</html>
