<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CBSE - Student - Meetings</title>
    <link
      href="https://fonts.googleapis.com/css?family=Bitter:100,200,300,400,500,600,700,800,900"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:100,200,300,400,500,600,700,800,900"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link rel="stylesheet" href="/css/all.css" />
    <link rel="stylesheet" href="/css/profile.css" />
  </head>
  <body>
    <nav>
      <div class="left">
        <img class="logo" src="/assets/logo.svg" alt="" />
      </div>
      <div class="right">
        <a href="/" class="link">Home</a>
        <a href="/e-books" class="link">E-Books</a>
        <a href="/student/meets" class="link">Classes</a>
      </div>
    </nav>

    <section class="profile">
        <div class="profile-info">
            <img src="/assets/pp.jpg">
            <h1 class="name">Ishaan Das</h1>
            <div class="line"></div>
            <h2>Info-</h2>
            <p>Contact-999999999</p>
            <p>Email-ishaan@tk.bhyi</p>
            <p>School-Delhi Public School</p>
            <p>Class- X-C</p>
        </div>

    </section>
  </body>
</html>