<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Class - CBSE</title>
    <link
      href="https://fonts.googleapis.com/css?family=Bitter:100,200,300,400,500,600,700,800,900"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:100,200,300,400,500,600,700,800,900"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link rel="stylesheet" href="/css/all.css" />
    <link rel="stylesheet" href="/css/inp.css" />
  </head>
  <body>
    <nav>
      <div class="left">
        <a hef="/home"><img class="logo" src="/assets/logo.svg" alt="" /></a>
      </div>
      <div class="right">
        <a href="/" class="link">Home</a>
        <a href="/job" class="link">Job Offers</a>
        <a href="/ebooks" class="link">E-Books</a>
        <a href="/logout" class="link">Logout</a>
      </div>
    </nav>

    <section class="container">
      <form action="/teacher/class/create" method="POST">
        <h1>Create a Classroom</h1>
        <input type="text" placeholder="Class name" name="name" />
        <textarea name="description" placeholder="Description"></textarea>

        <button class="btn" type="submit">Create</button>
      </form>

      <img src="/assets/1.png" alt="" />
    </section>
  </body>
</html>
