<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CBSE - Create Meet</title>
  </head>
  <body>
    <form action="/teacher/create-meet" method="POST">
      <input type="text" name="name" placeholder="Meeting name" />
      <input
        type="text"
        name="time"
        placeholder="Meeting Time (just for reference)"
      />
      <select type="text" name="subject" placeholder="Subject">
        <option value="hindi">Hindi</option>
        <option value="english">English</option>
        <option value="math">Maths</option>
        <option value="science">Science</option>
      </select>
      <select name="class">
        <% for (let classe of classes) { %>
        <option value="<%= classe._id %>"><%= classe.name %></option>
        <% } %>
      </select>
      <button type="submit">Generate Link</button>
    </form>
  </body>
</html>
